body{text-align:center;
background-image:url(images/fondbleu.png);
}

a{text-decoration:none;}

h1
{
	font-size : 60px;
	color : #FFD700;
}

.valider{
	margin-top:1cm;
}

.annuler{
	margin-top :3cm;
}